extends base.pug

block scripts
  script(src='/static/index.js')
block style 
    style 
        include ../static/style.css
        include ../static/contactStyle.css
block content 
    h2 Contact Us
    form(action="/contactUs", method="post", class="myForm")
      input(type="text",class="child",name="name",placeholder="Name")#myName
      input(type="email",class="child",name="email",placeholder="Email")#myEmail
      textarea(name="message", cols="30", rows="20",placeholder='Message...',class="child")#myTextarea
      button(class="child")#submitBtn
        |Submit